apiVersion: sources.knative.dev/v1
kind: ContainerSource
metadata:
  name: hue-source
spec:
  template:
    spec:
      containers:
        - image: ko://github.com/matzew/khue/cmd
          name: hue
          args:
            - --hueBridge=IP
            - --username=USER
          # env:
          #   - name: POD_NAME
          #     value: "mypod"
          #   - name: POD_NAMESPACE
          #     value: "event-test"
  sink:
    ref:
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: ping-display
